#section-fourth-page{

    text-align: center;
    display: flex;
    justify-content: center;
    height: 400px;
}

.hardware-box-text{

    color:white;
    font-weight: bolder;
}

.logo-hardware-section-fourth{

    height: 300px;
    width: 600px;
    border-radius: 10px;
    margin-top: 10px;
}